pomegranate/flows_raspberrypi.json
[{"id":"7e0d8b3f.81f274","type":"tab","label":"Flow 1"},{"id":"80317221.c8fe98","type":"tab","label":"Dashboard"},{"id":"f70fa7ae.e06cb","type":"tab","label":"Notifications"},{"id":"14ec8312.05d26d","type":"ui_base","name":"ISW Dashboard","theme":"theme-dark"},{"id":"d3ff7966.34b408","type":"ui_tab","z":"","name":"Stats","icon":"dashboard","order":1},{"id":"e993e353.b6c8e8","type":"ui_group","z":"","name":"Commands","tab":"d3ff7966.34b408","order":1,"disp":true,"width":"12"},{"id":"41867685.83d0d8","type":"ui_group","z":"","name":"Valve Current","tab":"d3ff7966.34b408","order":2,"disp":true,"width":"6"},{"id":"afbe4392.e97578","type":"ui_group","z":"","name":"Flow Rate","tab":"d3ff7966.34b408","order":3,"disp":true,"width":"6"},{"id":"58c445e2.7d6cbc","type":"websocket-listener","z":"80317221.c8fe98","path":"/ws/flowdata","wholemsg":"false"},{"id":"f8e5ee2b.e3e7e","type":"aws-config","z":"f70fa7ae.e06cb","name":"AWS","region":"us-west-2"},{"id":"6c98af7c.93675","type":"comment","z":"7e0d8b3f.81f274","name":"pins","info":"FLOW GPIO = 19\n\n\nFLOW_NOMINAL = 1.5      #LPM\nFLOW_TOLERANCE = 30.0   # %\nPUMP_NOMINAL = 1200.0   #ma\nPUMP_TOLERANCE = 30.0   # %\nVALVE_NOMINAL = 200.0   #ma\nVALVE_TOLERANCE = 30.0   # %\n\nVALVE_ON = 0\nVALVE_OFF = 1\nRELAY_PUMP_GPIO = 22        # GPIO pin #\nRELAY_VALVE_GPIO = 23        # GPIO pin #\nRELAY_X_GPIO = 18        # GPIO pin #\n\n\nRELAY_Y_GPIO = 27        # GPIO pin #\n","x":99,"y":29,"wires":[]},{"id":"12448ad9.edbb75","type":"rpi-gpio out","z":"7e0d8b3f.81f274","name":"Relay Valve","pin":"16","set":true,"level":"1","out":"out","x":427,"y":165,"wires":[]},{"id":"ffe5bb5e.001a48","type":"inject","z":"7e0d8b3f.81f274","name":"Valve Off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":91,"y":112,"wires":[["12448ad9.edbb75","9a0f926.f65f07"]]},{"id":"3051645d.cfae9c","type":"inject","z":"7e0d8b3f.81f274","name":"Valve On","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":89,"y":197,"wires":[["9a0f926.f65f07","12448ad9.edbb75"]]},{"id":"9a0f926.f65f07","type":"rpi-gpio out","z":"7e0d8b3f.81f274","name":"Relay Pump","pin":"15","set":true,"level":"1","out":"out","x":430,"y":88,"wires":[]},{"id":"b2aee62e.4d5118","type":"tcp in","z":"7e0d8b3f.81f274","name":"","server":"server","host":"","port":"5005","datamode":"stream","datatype":"buffer","newline":",","topic":"","base64":false,"x":90,"y":313,"wires":[["3b102f47.c4efd"]]},{"id":"3b102f47.c4efd","type":"function","z":"7e0d8b3f.81f274","name":"Convert to String","func":"msg.payload = JSON.parse(msg.payload.toString('utf8'))[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":313,"wires":[["684405fb.e360b4"]]},{"id":"2c72190.86bbbe8","type":"ui_gauge","z":"80317221.c8fe98","name":"Current Gauge","group":"41867685.83d0d8","order":0,"width":0,"height":0,"gtype":"gage","title":"Valve Current","label":"Milliamps","format":"{{value}}ma","min":"200","max":"400","colors":["#00b500","#e6e600","#ca3838"],"x":453,"y":211.5,"wires":[]},{"id":"684405fb.e360b4","type":"link out","z":"7e0d8b3f.81f274","name":"Input","links":["4b07a124.58383","ecac5cb2.9284c"],"x":504,"y":390,"wires":[]},{"id":"4b07a124.58383","type":"link in","z":"80317221.c8fe98","name":"Current","links":["684405fb.e360b4"],"x":65,"y":198.5,"wires":[["6dc0a72e.bd35f","94b5eb21.3c48a8","85d2a92b.fa7f58"]]},{"id":"6dc0a72e.bd35f","type":"function","z":"80317221.c8fe98","name":"Extract Current","func":"msg.payload = msg.payload.current;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":198.5,"wires":[["2c72190.86bbbe8"]]},{"id":"94b5eb21.3c48a8","type":"function","z":"80317221.c8fe98","name":"FlowRate","func":"msg.payload = parseFloat(msg.payload.flow_rate).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":203,"y":278.5,"wires":[["f793f086.f9e9d","246aa746.5aaa6","e21ef69e.6cfe8"]]},{"id":"f793f086.f9e9d","type":"function","z":"80317221.c8fe98","name":"","func":"if (msg.payload < 2) {\n    msg.payload = \"Flow rate is low\";\n    msg.style = \"{color: 'red'}\";\n} else if (msg.payload >= 2 && msg.payload <= 3) {\n    msg.payload = \"Flow rate is ok\";\n    msg.style = \"{color: 'green'}\";\n} else if (msg.payload > 3) {\n    msg.style = \"{color: 'red'}\";\n    msg.payload = \"Flow rate is high\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":367.5,"wires":[["2cbecd85.ba9ee2"]]},{"id":"85d2a92b.fa7f58","type":"websocket out","z":"80317221.c8fe98","name":"","server":"58c445e2.7d6cbc","client":"","x":279,"y":453,"wires":[]},{"id":"56ada99.9062ad8","type":"ui_button","z":"80317221.c8fe98","name":"","group":"e993e353.b6c8e8","order":0,"width":0,"height":0,"label":"Turn Off Valve","color":"","icon":"","payload":"1","payloadType":"str","topic":"","x":177,"y":85.5,"wires":[["410341bf.5ab288"]]},{"id":"550d0c5d.8ffb34","type":"link in","z":"7e0d8b3f.81f274","name":"Valve Command","links":["410341bf.5ab288"],"x":238,"y":45.5,"wires":[["9a0f926.f65f07","12448ad9.edbb75"]]},{"id":"410341bf.5ab288","type":"link out","z":"80317221.c8fe98","name":"Valve Buttons","links":["550d0c5d.8ffb34"],"x":332,"y":92,"wires":[]},{"id":"1dd60.1f4e52a0e","type":"ui_button","z":"80317221.c8fe98","name":"","group":"e993e353.b6c8e8","order":0,"width":0,"height":0,"label":"Turn On Valve","color":"","icon":"","payload":"0","payloadType":"str","topic":"","x":185,"y":139,"wires":[["410341bf.5ab288"]]},{"id":"246aa746.5aaa6","type":"ui_gauge","z":"80317221.c8fe98","name":"Current Gauge","group":"afbe4392.e97578","order":0,"width":0,"height":0,"gtype":"gage","title":"Flow","label":"Liters Per Minute","format":"{{value}} lpm","min":"2","max":"3","colors":["#ca3838","#00e600","#ca3838"],"x":464,"y":264,"wires":[]},{"id":"ecac5cb2.9284c","type":"link in","z":"f70fa7ae.e06cb","name":"Notifications","links":["684405fb.e360b4"],"x":117,"y":170.5,"wires":[["6ee5bd6c.c4b6cc"]]},{"id":"10866032.2cb548","type":"amazon sns","z":"f70fa7ae.e06cb","aws":"f8e5ee2b.e3e7e","region":"","operation":"publishTopic","arn":"arn:aws:sns:us-west-2:381125819681:ISW_Status","name":"ISW Status Topic","x":825,"y":185.5,"wires":[[]]},{"id":"6ee5bd6c.c4b6cc","type":"function","z":"f70fa7ae.e06cb","name":"FlowRate","func":"msg.payload = parseFloat(msg.payload.flow_rate).toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":177,"wires":[[]]},{"id":"276b60cf.e69c78","type":"switch","z":"f70fa7ae.e06cb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"2","vt":"num"},{"t":"gt","v":"3","vt":"num"},{"t":"else"}],"checkall":"false","outputs":3,"x":417,"y":176.5,"wires":[["412c9a6f.6165ac"],["e1583269.b869d"],[]]},{"id":"412c9a6f.6165ac","type":"change","z":"f70fa7ae.e06cb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Rate Low","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":617,"y":139.5,"wires":[["10866032.2cb548"]]},{"id":"e1583269.b869d","type":"change","z":"f70fa7ae.e06cb","name":"Rate High","rules":[{"t":"set","p":"payload","pt":"msg","to":"Flow Rate Is High","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":592,"y":185,"wires":[["10866032.2cb548"]]},{"id":"ed74b780.949b78","type":"inject","z":"7e0d8b3f.81f274","name":"Start Monitor Service","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":136,"y":428.5,"wires":[["325d8cb2.bac5e4"]]},{"id":"325d8cb2.bac5e4","type":"exec","z":"7e0d8b3f.81f274","command":"sudo /home/pi/projects/isavewater/pomegranate/pomegranate.py","addpay":false,"append":"","useSpawn":true,"timer":"","name":"","x":527,"y":438,"wires":[["45a9393.b5703c8"],["45a9393.b5703c8"],["45a9393.b5703c8"]]},{"id":"45a9393.b5703c8","type":"debug","z":"7e0d8b3f.81f274","name":"","active":true,"console":"false","complete":"true","x":858,"y":430,"wires":[]},{"id":"2cbecd85.ba9ee2","type":"ui_text","z":"80317221.c8fe98","group":"afbe4392.e97578","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":528,"y":373,"wires":[]},{"id":"e21ef69e.6cfe8","type":"ui_gauge","z":"80317221.c8fe98","name":"Liters Per Minute","group":"afbe4392.e97578","order":0,"width":0,"height":0,"gtype":"wave","title":"Flow Rate","label":"Liters Per Minute","format":"{{value}} lpm","min":"2","max":"6","colors":["#00b500","#e6e600","#ca3838"],"x":475,"y":311,"wires":[]}]